.main {
  width: 100%;
  &__body {
    &__center {
      margin: 20px 0 0 40px;
      display: inline-block;
      &__item {
        float: left;
        height: 330px;
        width: 280px;
        border: solid 2px;
        border-color: black;
        border-radius: 3px;
        &__link {
          text-decoration:none ;
          color: black;
        }
        &__photo {
          height: 250px;
          width: 100%;
          border-bottom: solid 1px;
          &__big {
            height: 100%;
            width: 100%;
          }
        }
        &__box {
          font-size: 14px;
          font-weight: bold;
          &__name {
            padding: 5px 0 0 5px;
          }
          &__like {
            padding: 5px 0 0 5px;
          }
        }
      }
    }
  }
}

.main__body__center__item {
  margin: 20px 0;
}

.main__body__center__item:nth-child(2n) {
  margin: 0 0 20px 20px;
}

.main__body__center__item:nth-child(2n+1) {
  margin: 0 0 20px 20px;
}

.main__body__center__item:nth-child(4n+1) {
  margin-left: 0;
}

