.footer
  .footer__back
    = link_to root_path do
      TOPへもどる
  .footer__btn
    %a{href: "http://twitter.com/share?url=http://3.13.98.161:3000/", class: 'twitter'} Twitter
    %a{href: "https://www.facebook.com/sharer/sharer.php?u=http://3.13.98.161:3000/", class: 'facebook'} Facebook
    %a{href: "http://line.me/R/msg/text/?http://3.13.98.161:3000/", class: 'line'} LINE
