.header
  .header__container
    .header__container__left
      .header__container__left__box
        HOBY日報
      .header__container__left__category
        %i.fas.fa-place-of-worship
        CATEGORY
        .header__container__left__category__box
          %ul.header__container__left__category__box__level1
          - if @category.present?
            - @category.each do |category|
              %li.header__container__left__category__box__level1__li
                = link_to category.name, category_path(category.id)
    -# .header__container__center
    -#   = form_tag('/search', method: :get, class: "header__container__center__search", enforce_utf8: false ) do
    -#     %input.header__container__center__search__input{name: "keyword", placeholder: "検索ワードを入力してください", type: "search", value: ""}/
    -#     %button.header__container__center__search__button
    -#       %i.fas.fa-search.header__container__center__search__button__icon
    .header__container__right
      - if user_signed_in?
        = link_to destroy_user_session_path, method: :delete do
          .header__container__right__login
            %i.fas.fa-sign-in-alt
            LOGOUT
      - else
        = link_to new_user_registration_path do
          .header__container__right__login
            %i.fas.fa-sign-in-alt
            LOGIN
        = link_to user_session_path do
          .header__container__right__signin
            %i.fas.fa-sign-in-alt
            SIGNIN